body {
    margin: 8px;
}

table {
    background-color: #c0c0c0;
}

table th {
    background-color: #424244;
    color: white;
}

table td {
    background-color: #f7ffff;
}

div#fixedFooter {
    position: fixed;
    background-color: white;
    bottom: 0px;
    padding-bottom: 8px;
}