body {
    margin: 0;
    background: url("../images/pageBG.png") repeat;
    font-family: sans-serif;
    text-align: center;
}

.sideBlock {
    margin: 8px;
    position: relative;
    display: inline-block;
    text-align: left;
    color: #ffffff;
    float: right;
}

div.body {
    margin: 8px;
    position: relative;
    display: inline-block;
    color: white;
}

.scrollable {
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 18px;
    max-height: 10%;
    display: inline-block;
}

div.query-field {
    border: 1px solid rgba(54, 64, 134, 1);
    border-radius: 6px;
    margin: 4px 0;
    padding: 2px;
}

input, select {
    background-color: #0E0E0E;
    border-color: #282828;
    color: #526FC3;
}

input[disabled] {
    opacity: 0.75;
}

table, div.search-box, div.container {
    background-color: rgba(54, 64, 134, 0.4) !important;
    text-align: center;
}

table.solid {
    background-color: rgba(54, 64, 134, 1);
}

table th {
    background-color: #05050C;
    color: white;
}

table td {
    background-color: rgba(20, 25, 54, 0.3);
    color: white;
}

table.no-break td, table.no-break th {
    white-space: nowrap;
}

table.solid td {
    background-color: rgba(20, 25, 54, 1);
}

table.layout, table.layout tr.layout, table.layout td.layout, table.layout th.layout {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    padding: 0;
}

table.content {
    table-layout: fixed;
}

table.content input, table.content select {
    width: 100%;
}

.fixedHeader {
    position: absolute;
    top: 0px;
}

.fixedFooter {
    position: absolute;
    bottom: 0px;
}

.borderTop {
    border-top: 4px solid #364086;
}

.borderBottom {
    border-bottom: 4px solid #364086;
}

a.btnPlus {
    display: inline-block;
    background: url("../images/plus.png") no-repeat;
    background-size: cover;
    width: 32px;
    height: 32px;
    opacity: 0.5;
}

a.btnPlus:hover {
    background: url("../images/plus_down.png") no-repeat;
    background-size: cover;
    opacity: 1.0;
}

a.btnPlus:active {
    background: url("../images/plus_down.png") no-repeat;
    background-size: cover;
}

a, h1 {
    color: white;
}

img.smallBtn {
    height: .75em;
}

div.search-box {
    display: inline-block;
    float: right;
    margin: 8px;
    padding: 1%;
    color: white;
    text-align: left;
}

div.container {
    display: inline-block;
    padding: 1%;
    vertical-align: top;
}

.naviLink {
    display: inline-block;
    text-align: center;
    padding: 1.7% 0;
    width: 125px;
    border: 0 solid #39468a;
    border-top-width: 1px;
    text-decoration: none;
}

.naviLink:first-child {
    border-radius: 6px 0 0 0;
    border-width: 1px 0 0 1px;
}

.naviLink:last-child {
    border-radius: 0 6px 0 0;
    border-width: 1px 1px 0 0;
}

.naviLink.active {
    background-color: rgba(41, 46, 75, 0.8);
    /*#292E4B*/
    border-radius: 6px 6px 0 0;
    border-width: 1px 1px 0 1px;
    padding-bottom: 2.7%;
    vertical-align: bottom;
    margin-left: -1px;
    margin-right: -1px;
}

.naviLink:first-child {
    margin-left: 0;
}

.naviLink:last-child {
    margin-right: 0;
}

nav {
    display: inline-block;
    font-variant: small-caps;
    letter-spacing: 0.06em;
}

.white {
    background-color: white;
}

.clickable:hover:not(.active) {
    background-color: #39468a;
}