body {
    margin: 8px;
}

table {
    background-color: #c0c0c0;
}

table th {
    background-color: #424244;
    color: white;
}

table td {
    background-color: #f7ffff;
}

table.layout, table.layout tr.layout, table.layout td.layout, table.layout th.layout {
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    padding: 0;
}

/*table.layout td, table.layout th {*/
    /*background-color: transparent;*/
/*}*/

.fixedFooter {
    position: fixed;
    bottom: 0px;
    padding-bottom: 8px;
    float: left;
}

.white {
    background-color: white;
}